<div class="menu-admin">
    <a href="/admin">home</a>
    <a href="/pesquisar">buscar</a>
    <a href="/addAlimento">cadastrar</a>
    <a href="/logout">Sair/Fazer logout</a>
</div>



<div class="adi1">
    <h1>Seja bem vindo, admin!</h1>

</div>