{{#each rows}}



<article class="item-alimento">
    <h1>{{this.nome}}</h1>
    <div class="details">
        <div class="img-container">
            <img src={{this.imagem}} alt="User Profile">


        </div>



    </div>

    <div class="details-item-alimento">



        <p> Descrição:{{this.descricao}}</p>








        <p> Fontes:{{this.fontes}}</p>





    </div>



</article>






{{/each}}