<form action="/formulario" method="POST" encType="multipart/form-data">
    <h1>Upload profile photo</h1>
    <input type="file" name="sampleFile" accept="image/" />
    <input type="submit" class="">


</form>