<div class="dvExclusive">
  <h1>Veja mais sobre estes alimentos: </h1>
  <div class="tsideExclusivo">

    {{#each rows}}







    <div class="exclusivo">
      Nome:<a href="/exclusivo/{{this.id}}"> {{this.nome}} </a><br>

      <img src={{this.imagem}} alt="User Profile">



    </div>








    {{/each}}

  </div>

</div>

<!----------------------------------------------------------------------------------------------------------->